node_modules/
.env
__pycache__/
*.pyc
venv/
env/
.venv/
build/
dist/
*.apk
postgres_data/
.idea/
.vscode/
android/app/build/
android/.gradle/
android/capacitor.settings.gradle
admin-panel/node_modules/
mobile-app/node_modules/
mobile-app/android/app/build/
mobile-app/android/.gradle/
