# URL бэкенда для мобильного приложения
# Замените <IP-АДРЕС-НОУТБУКА> на ваш локальный IP-адрес (например, 192.168.1.50)
VITE_API_URL=http://<IP-АДРЕС-НОУТБУКА>:8000/api
VITE_STATIC_URL=http://<IP-АДРЕС-НОУТБУКА>:8000
